Makefile
REVISION
VERSION
autom4te.cache
config.log
config.status
configure

cgi/kahua.cgi

doc/Modules/kahua-ref?.info.gz
doc/Modules/kahua-ref?.texi

emacs/kahua.el

src/kahua-admin
src/kahua-config
src/kahua-dbutil
src/kahua-httpd
src/kahua-install
src/kahua-package
src/kahua-package.scm
src/kahua-shell
src/kahua-spvr
src/kahua-user
src/kahua/config.scm

test/_site
test/_tmpefs*
test/test.log
