;; -*-scheme-*-
;; Sample app-servers file.
;; $Id: app-servers.sample,v 1.2 2003/12/26 00:03:26 ko1 Exp $

(
;; (<type> :script <script-spec> :run-by-default <num>)
;; See http://www.kahua.org/cgi-bin/index.cgi/kahua-spvr
 (lambdabooks
   ;; :arguments ()
   :run-by-default 1)
)
