;; -*- mode: scheme -*-
;; Sample Kahua user customize configuration file
;;

(make <kahua-custom>
  :working-directory    "/var/lib/kahua/user/sussman"
  :static-document-path "/var/www/kahua"
  :static-document-url  "/kahua"
  :timeout-mins         60
  )
