;;
;; Sample Kahua configuration file
;;
;; $Id: kahua.conf.sample,v 1.4.4.1 2006/01/15 00:21:07 nobsun Exp $

(make <kahua-config>
  :sockbase             "unix:##SOCKET_BASE_DIR##"
  :working-directory    "##localstatedir##"
  :static-document-path "##KAHUA_STATICDIR##"
  :static-document-url  "/kahua"
  :timeout-mins         60
  :userconf-file        "##localstatedir##/user.conf"
  )

;; Local variables:
;; mode: scheme
;; end:
